*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI,sans-serif;
}

.home{
min-height:100vh;
background:linear-gradient(135deg,#eef9ee,#f7fbff);
display:flex;
justify-content:center;
align-items:center;
padding:40px;
}

.overlay{
width:100%;
display:flex;
justify-content:center;
}

.card{

width:1100px;

background:white;

border-radius:25px;

padding:40px;

box-shadow:0 20px 60px rgba(0,0,0,.15);

text-align:center;

}

.logo{

width:170px;

margin-bottom:10px;

}

h1{

font-size:55px;

color:#0a6c47;

font-weight:bold;

}

h3{

margin-top:10px;

color:#666;

font-weight:500;

}

.line{

width:200px;

height:4px;

background:#f0a500;

margin:25px auto;

border-radius:20px;

}

.grid{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:25px;

margin-top:35px;

}

.box{

display:flex;

align-items:center;

justify-content:space-between;

padding:25px;

text-decoration:none;

border-radius:18px;

background:white;

box-shadow:0 8px 25px rgba(0,0,0,.08);

transition:.35s;

}

.box:hover{

transform:translateY(-6px);

}

.icon{

font-size:50px;

}

.box h2{

font-size:30px;

}

.box p{

margin-top:8px;

color:#666;

}

.box span{

font-size:35px;

font-weight:bold;

}

.admin{

border-bottom:6px solid #0d9d58;

}

.admin h2{

color:#0d9d58;

}

.teacher{

border-bottom:6px solid orange;

}

.teacher h2{

color:orange;

}

.student{

border-bottom:6px solid #0d6efd;

}

.student h2{

color:#0d6efd;

}

.parent{

border-bottom:6px solid #8a2be2;

}

.parent h2{

color:#8a2be2;

}

.secure{

margin-top:35px;

background:#eefaf1;

padding:18px;

border-radius:40px;

display:inline-block;

font-weight:600;

color:#0a6c47;

}

@media(max-width:900px){

.grid{

grid-template-columns:1fr;

}

.card{

padding:25px;

}

h1{

font-size:36px;

}

.logo{

width:120px;

}

}